.navbar-brand {
    font-family: 'Audiowide', cursive;
}
.con {
text-align: center;
}
.gg {
    color:purple
}


.containe-navbar {
    text-align: right;
    
}

.coursel{
    text-align: center;
}

